.image-h5{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 600;
    font-size: 3rem;
}
.carousel-caption-personalizado{
    position: absolute;
    bottom: 11.25rem;
    left: 15%;
    padding-top: 1.25%;
    padding-bottom: 8.25%;
    color: #fff;
    text-align: center;
}